@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap')
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
}

.linear{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 35%, rgba(0,0,0,0.23433123249299714) 100%);
    }

@layer components {
    .btn-outline {
        @apply flex justify-center items-center p-4 text-base font-semibold text-white rounded-2xl border border-white hover:text-white;
    }
}

@layer utilities {
    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
  }
}